.card-con {
  margin: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  border: 2px solid black;
  margin: 25px;
  padding: 25px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-con .card button {
  width: 90px;
  height: 30px;
  background-color: lightblue;
}
